name: Deploy ASP.NET Core 8 API

on:
  push:
    branches:
      - main
  workflow_dispatch:
  
jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Publish PortfolioWebsite.Api
      run: dotnet publish ./Backend/PortfolioWebsite.Api/PortfolioWebsite.Api.csproj --configuration Release --framework net8.0 --self-contained true --runtime win-x64 --output ./Backend/PortfolioWebsite.Api/publish

    - name: Stop IIS
      run: |
        Stop-Service -Name 'W3SVC'
      shell: powershell

    - name: Copy files to C:\PortfolioApi
      run: |
        Copy-Item -Path ./Backend/PortfolioWebsite.Api/publish/* -Destination C:\PortfolioApi\ -Recurse -Force
      shell: powershell

    - name: Start IIS
      if: always()
      run: |
        Start-Service -Name 'W3SVC'
      shell: powershell
